    	<div class="container">
  		<div class="row">
  			<div class="col-lg-12"><div id="logo"><img class="img-fluid" src="logo.png"></div></div>
  		</div>
  	</div>

  	<div class="container-fluid">

      <!-- the card classes are important for centering on mobile -->

      <div>
      <h1 id="hd">So how does it work?</h1>
      <hr>
      </div>


  		<div id="banner" class="row">
  			<div class="col-lg-3 col-md-6">
  				<div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
  				<img class="card-img-top" src="computer.png" alt="Card image cap">
  					<div class="card-body">
    					<p class="card-text">Create an Account with us by registering your email and setting up a password.</p>
 					 </div>
				  </div>
  			</div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
            <img class="card-img-top" src="camera.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Take a picture of your fish! Let the other anglers know what type of fish it is and what bait you used.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
            <img class="card-img-top" src="address.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Drop a pin of the location you caugh your fish.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
            <img class="card-img-top" src="thumbs-up.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Have people from around the world like and comment on your catch.</p>
              </div>
          </div>
        </div>
  		</div>

<!-- Create an Account -->


<div id="signUp" class="container">
  <h1 id="hd">Sign Up</h1>
 <form class="form-horizontal" action="/dashboard" method="POST">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name = "email" placeholder="Enter email" value="<%= typeof email != 'undefined' ? email : '' %>">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password" value="<%= typeof password != 'undefined' ? pwd : '' %>">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Create Account</button>
    </div>
  </div>
</form>
</div>


<div id="mem" class="container">
  <h1 id="hd">Already a member? Login now!</h1>
 <form class="form-horizontal" action="users/Login">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter email" value="<%= typeof email != 'undefined' ? email : '' %>">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" value="<%= typeof password != 'undefined' ? pwd : '' %>">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
</div>
  	</div>















  