<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
   
    <title>Post Your Catch</title>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- main index style sheet -->
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
  </head>
  <body>

        <div class="container">
      <div class="row">
        <div class="col-lg-12"><div id="logo"><img class="img-fluid" src="/images/logo.png"></div></div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- the card classes are important for centering on mobile -->

      <div>
      <h1 id="hd">So how does it work?</h1>
      <hr>
      </div>


      <div id="banner" class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
          <img class="card-img-top" src="/images/computer.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Create an Account with us by registering your email and setting up a password.</p>
           </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
            <img class="card-img-top" src="/images/camera.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Take a picture of your fish! Let the other anglers know what type of fish it is and what bait you used.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
            <img class="card-img-top" src="/images/address.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Drop a pin of the location you caught your fish.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-img-top d-block mx-auto mx-md-0 my-5" style="width: 18rem;">
            <img class="card-img-top" src="/images/thumbs-up.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Have people from around the world like and comment on your catch.</p>
              </div>
          </div>
        </div>
      </div>


<div id ='btn' class="container">
 <a href="/users/login" class="btn btn-primary">Enter</a>
</div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>